<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
    <!--PICK ONE SOURCE-->
    <!--<source>-->
        <!--<name>twitter</name>-->
        <!--<properties-file>twitter.properties</properties-file>-->
    <!--</source>-->
    <source>
        <name>socket</name>
        <ip>localhost</ip>
        <port>4542</port>
    </source>

    <textProcess>
        <anyText>true</anyText><!-- true : any text want to be analyzed, false : if there is no text to be analyzed-->
        <label>kategori</label><!-- JSON label for the LSD document category-->
        <resource>isi</resource><!-- JSON label for the LSD document resource to build the model -->
    </textProcess>

    <!--DATA TYPE AND FILTERS-->
    <data>
        <type>tweet</type>
        <id>id</id>
        <tweetFilters>
            <filter>
                <dataType>string</dataType>
                <attribute>lang</attribute>
                <value>in</value>
            </filter>
            <filter>
                <dataType>integer</dataType>
                <attribute>user.friends_count</attribute>
                <value>5</value>
                <comparison>">="</comparison><!--options: ">" | ">=" | "==" | "!=" | "<=" | "<"-->
            </filter>
            <filter>
                <dataType>count</dataType>
                <attribute>entities.hashtags</attribute>
                <value>0</value>
                <comparison>">="</comparison><!--options: ">" | ">=" | "==" | "!=" | "<=" | "<"-->
            </filter>
        </tweetFilters>
    </data>

    <!--KEY FOR STREAM DATA-->
    <keyBy>
        <type>static</type>
        <value>1</value>
    </keyBy>
    <!--<keyBy>-->
        <!--<type>object</type>-->
        <!--<function>getId</function>-->
    <!--</keyBy>-->

    <!--DATA MINING CONFIGURATION-->
    <dataMining>
        <type>clustering</type>
        <algorithm>dbscan</algorithm>
        <distance>euclidean</distance>
        <attributes>
            <attribute>
                <field>text</field>
                <type>text</type>
                <weight>1.0</weight><!--for standardized attribute weight-->
            </attribute>
        </attributes>
    </dataMining>

    <!--WINDOW CONFIGURATION-->
    <window>
        <type>sliding</type><!--options: tumbling / sliding / session -->
        <time>process</time><!--options: event / process-->
        <size>
            <hours>0</hours>
            <minutes>1</minutes>
            <seconds>0</seconds>
        </size>
        <overlap><!--CAN BE IGNORED IF WINDOW TYPE IS TUMBLING OR SESSION-->
            <hours>0</hours>
            <minutes>0</minutes>
            <seconds>30</seconds>
        </overlap>
    </window>

    <!--SINK CONFIGURATION-->
    <sourceSink>
        <type>print</type>
    </sourceSink>
    <windowSink>
        <type>print</type>
    </windowSink>
    <!--<windowSink>-->
        <!--<type>csv</type>-->
        <!--<path>csvOutput</path>-->
    <!--</windowSink>-->
    <!--<windowSink>-->
        <!--<type>text</type>-->
        <!--<path>textOutput</path>-->
    <!--</windowSink>-->
    <!--<windowSink>-->
        <!--<type>socket</type>-->
        <!--<ip>localhost</ip>-->
        <!--<port>4543</port>-->
    <!--</windowSink>-->

</configuration>
