<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
    <!--PICK ONE SOURCE-->
    <!--<source>-->
        <!--<name>twitter</name>-->
        <!--<properties-file>twitter.properties</properties-file>-->
    <!--</source>-->
    <source>
        <name>socket</name>
        <ip>localhost</ip>
        <port>4542</port>
    </source>

    <!--KEY FOR STREAM DATA-->
    <!--<keyBy>-->
        <!--<type>static</type>-->
        <!--<value>1</value>-->
    <!--</keyBy>-->
    <keyBy>
        <type>object</type>
        <function>id</function>
    </keyBy>


    <!--WINDOW CONFIGURATION-->
    <window>
        <type>sliding</type><!--options: tumbling / sliding / session -->
        <time>process</time><!--options: event / process-->
        <size>
            <type>minute</type><!--options: second / minutes / hours -->
            <value>5</value>
            <overlap>2</overlap>
        </size>
    </window>

    <!--SINK CONFIGURATION-->
    <SourceSink>
        <type>print()</type>
    </SourceSink>
    <WindowSink>
        <type>print()</type>
    </WindowSink>


</configuration>
